@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&display=swap');

header {
    background-color: #3d3d3d55;
    color: #fff;
    height: 50px;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    animation: slideAndFade 1s ease;
  }

  /*ヘッダーのフォントと文字の表示場所を指定*/
  h1{
    font-family: 'Cherry Swash', cursive;
    position:relative;
    top: -15px;
  }