@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&display=swap');

header {
    background-color: #d1cfcf36;
    color: #fff;
    height: 50px;
    width: 426px;
    padding: 30px;
    position:relative;
    top: 0;
    left: 0;
    animation: slideAndFade 1s ease;
  }

  .container {
    display: flex;
  
  }


  /*ヘッダーのフォントと文字の表示場所を指定*/
  h1{
    font-family: 'Cherry Swash', cursive;
    position:relative;
    top: -15px;
  }