/*　メニューの背景を設定 */
/* 画像がimg要素にフィットするように設定 */
.img-container {
  position: absolute;
  margin-left: 3%;
  margin-right: 3%;
  

  max-width: 500px;
  width: 95vw; /* 画面幅いっぱいに設定 */
  height: auto;

  z-index: -50;

}
