/*　モーダルウィンドウの中身 */
#content {
  z-index: 2;
  width: 70%;
  height: 70%;
  padding: 1em;
  background: #d0d0d0;
  border-radius: 25px;
  box-shadow: 0px 0px 12px 12px rgb(255, 0, 0);
}

button.closebutton{
  border-radius: 10px;
  float:right;
  background: #918181;
  height:30px;
  width:30px;
  font-size: 20px;
}