/*　モーダルウィンドウの中身 */
#content {
    z-index: 2;
    width: 70%;
    height: 70%;
    padding: 1em;
    background: #fff;
  }

button.closebutton{

    float:right;
    background: #fc0909;
    
    height:30px;
    width:30px;
}